@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,400;0,600;1,500&display=swap");

body {
  font-family: "Source Sans 3", sans-serif;
  min-height: 100%;
}

#app {
  min-height: 100%;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

.main-container {
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}

.header {
  padding-bottom: 0.5rem;
}

.subheading {
  font-weight: lighter;
}

.loading {
  margin-top: 3rem;
}

#signature {
  margin-top: 2rem;
  font-weight: lighter;
}

#footer {
  height: 2.5rem;
  background-color: #e9ecef;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: lighter;
}

#footer-text {
  padding-top: 0.5rem;
}

.figure:hover {
  background-color: #e9ecef;
}
